.app-name8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0px 0px;
}
.left8 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.container-l-color8 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: var(--br-base);
  background-color: var(--primary);
  opacity: 0.04;
}
.states14 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: var(--br-base);
}
.container13 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.primary-icon10 {
  position: absolute;
  top: calc(50% - 12px);
  right: 12px;
  width: 24px;
  height: 24px;
}
.placeholder-text8 {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 24px;
  font-weight: 300;
}
.placeholder8 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.data15 {
  position: absolute;
  top: calc(50% - 12px);
  left: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.leading-icon8 {
  position: absolute;
  top: calc(50% - 12px);
  left: 16px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.frame103 {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-base);
  background-color: var(--on-primary);
  border: 1px solid var(--surface-selected);
  box-sizing: border-box;
  height: 40px;
}
.content200 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.center8 {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.primary-icon11 {
  position: relative;
  width: 18px;
  height: 18px;
}
.label90 {
  position: relative;
  letter-spacing: 1.25px;
  line-height: 18px;
}
.launchpad-button1 {
  border-radius: var(--br-lg);
  border: 1px solid var(--color-mediumslateblue-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-5xs) var(--padding-7xs)
    var(--padding-base);
  gap: var(--gap-5xs);
}
.background99 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: 50%;
}
.icon187 {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.frame104 {
  position: relative;
  width: 40px;
  height: 40px;
}
.icon-button-028 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.avatar-icon12 {
  position: relative;
  width: 24px;
  height: 24px;
}
.avatar8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button9 {
  border-radius: var(--br-lg);
  background: linear-gradient(180deg, #694ed6, #c137a2);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-base);
}
.action-buttons8 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: var(--on-primary);
}
.right8 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
  font-size: var(--subtitle-3-size);
  color: var(--primary);
}
.row-018 {
  align-self: stretch;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.app-bar-v217 {
  background-color: var(--on-primary);
  width: 1440px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0px var(--padding-5xl);
  box-sizing: border-box;
}
.app-bar-v216 {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.image-2-icon8 {
  position: absolute;
  top: 19px;
  left: 12px;
  width: 72px;
  height: 21.5px;
  object-fit: cover;
}
.background105 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: 50%;
  background-color: var(--color-gray-400);
  opacity: 0.08;
}
.text239 {
  position: relative;
  letter-spacing: 0.25px;
  line-height: 15px;
  font-weight: 300;
}
.label92 {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.icon-01-filled9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.icon-02-filled9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xs);
  cursor: pointer;
}
.background107 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: 50%;
  background: linear-gradient(180deg, #694ed6, #c137a2);
}
.icon-03-filled9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xs);
  color: var(--color-mediumvioletred);
}
.content201 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.icon-bar19 {
  border-radius: var(--br-5xs);
  background-color: var(--on-primary);
  box-shadow: var(--dp1);
  width: 73px;
  height: 834px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-13xl) var(--padding-xl) var(--padding-5xl);
  box-sizing: border-box;
}
.icon-bar18 {
  position: absolute;
  top: 61px;
  left: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-3xs);
}
.lp-hc1 {
  margin: 0;
}
.headline7 {
  position: absolute;
  top: 61px;
  left: 84px;
  font-size: var(--thumnail-size);
  line-height: 40px;
  font-weight: 800;
  color: var(--color-gray-100);
  display: inline-block;
  width: 534px;
}
.color-finastra-fill-surf37 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  background-color: var(--on-primary);
}
.color-finastra-fill-surf36 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
}
.finastra-component-table148 {
  position: absolute;
  height: 100.55%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: -0.55%;
  left: 0%;
}
.state-overlay-primary-hove30 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  opacity: 0;
  mix-blend-mode: normal;
}
.divider-color-child1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  background-color: var(--color-gray-300);
}
.divider-color4 {
  position: absolute;
  width: 100%;
  right: 0px;
  bottom: 0.3px;
  left: 0px;
  height: 1px;
  opacity: 0.12;
  mix-blend-mode: normal;
}
.divider-dark4 {
  position: absolute;
  height: 1.78%;
  width: 100%;
  top: 98.22%;
  right: 0%;
  bottom: 0%;
  left: 0%;
}
.icon-fullscreen-outlined6 {
  position: absolute;
  top: calc(50% - 8.75px);
  right: -0.1px;
  width: 18px;
  height: 18px;
  object-fit: cover;
}
.icon-search-outlined6 {
  position: absolute;
  top: calc(50% - 8.75px);
  right: 103.9px;
  width: 18px;
  height: 18px;
  object-fit: cover;
}
.iconcontentfilter-list-24px6 {
  position: absolute;
  top: calc(50% - 8.75px);
  right: 77.9px;
  width: 18px;
  height: 18px;
  object-fit: cover;
}
.iconimagepicture-as-pdf-24px6 {
  position: absolute;
  top: calc(50% - 8.75px);
  right: 51.9px;
  width: 18px;
  height: 18px;
  object-fit: cover;
}
.iconcontentsave-alt-24px6 {
  position: absolute;
  top: calc(50% - 8.75px);
  right: 25.9px;
  width: 18px;
  height: 18px;
  object-fit: cover;
}
.group21 {
  position: absolute;
  height: 32.19%;
  width: 20.78%;
  top: 33.97%;
  right: 2.73%;
  bottom: 33.84%;
  left: 76.49%;
  overflow: hidden;
}
.icon198 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.label97 {
  position: relative;
  letter-spacing: 1.25px;
  line-height: 24px;
}
.button-contained28 {
  position: absolute;
  height: 71.23%;
  width: 11.67%;
  top: 13.7%;
  right: 87.51%;
  bottom: 15.07%;
  left: 0.82%;
  border-radius: var(--br-xs);
  background-color: var(--finastra-green-green-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-5xs);
  cursor: pointer;
}
.finastra-component-table147 {
  position: absolute;
  height: 15.22%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 84.78%;
  left: 0%;
}
.finastra-component-table152 {
  position: absolute;
  height: 15.22%;
  width: 15.64%;
  top: 15.22%;
  right: 79.86%;
  bottom: 69.56%;
  left: 4.5%;
}
.finastra-component-table157 {
  position: absolute;
  height: 15.22%;
  width: 15.64%;
  top: 15.22%;
  right: 64.22%;
  bottom: 69.56%;
  left: 20.14%;
}
.finastra-component-table166 {
  position: absolute;
  height: 99.17%;
  width: 77.78%;
  top: 0.55%;
  right: 38.29%;
  bottom: 0.28%;
  left: -16.07%;
}
.finastra-component-table162 {
  position: absolute;
  height: 15.22%;
  width: 23.46%;
  top: 15.22%;
  right: 40.76%;
  bottom: 69.56%;
  left: 35.78%;
}
.finastra-component-table167 {
  position: absolute;
  height: 15.09%;
  width: 16.83%;
  top: 15.3%;
  right: 29.7%;
  bottom: 69.6%;
  left: 53.47%;
}
.finastra-component-table172 {
  position: absolute;
  height: 15.09%;
  width: 9.58%;
  top: 15.3%;
  right: 20.12%;
  bottom: 69.6%;
  left: 70.3%;
}
.finastra-component-table176 {
  position: absolute;
  height: 15.09%;
  top: 15.3%;
  right: 0px;
  bottom: 69.6%;
  width: 266.2px;
}
.sidenavlistdivider-icon49 {
  position: absolute;
  width: 4.5%;
  top: 100%;
  right: 95.5%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  height: 0px;
}
.table6 {
  position: absolute;
  height: 53%;
  width: 91.53%;
  top: 12.67%;
  right: 1.67%;
  bottom: 34.33%;
  left: 6.81%;
  color: var(--on-primary);
}
.applications-per-page7 {
  position: absolute;
  top: 0%;
  right: 0px;
  letter-spacing: 0.1px;
  line-height: 21px;
  font-weight: 500;
}
.align-left14 {
  position: absolute;
  height: 100%;
  top: 0%;
  right: 0px;
  bottom: 0%;
  width: 162px;
}
.group22 {
  position: relative;
  width: 162px;
  height: 21px;
}
.align-left15 {
  position: absolute;
  height: 100%;
  top: 0%;
  right: 0px;
  bottom: 0%;
  width: 50px;
}
.group23 {
  position: relative;
  width: 50px;
  height: 21px;
}
.pages7 {
  position: absolute;
  top: 847px;
  left: 486px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-27xl);
  font-size: var(--button-2-size);
}
.header43 {
  flex: 1;
  position: relative;
  letter-spacing: 0.15px;
  line-height: 24px;
  font-weight: 500;
}
.text244 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base);
}
.cell-header40 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.text248 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-base);
}
.cell-header44 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-align: right;
}
.col-number-header7 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.cells42 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidenavlistdivider-icon50 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.row-header7 {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--on-primary);
  width: 1318px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.text249 {
  flex: 1;
  position: relative;
  letter-spacing: 0.5px;
  line-height: 24px;
  font-weight: 300;
}
.cell-text143 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--finastra-green-green-100);
}
.cell-number35 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.cells43 {
  align-self: stretch;
  background-color: var(--states-primary-overlay-hover);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.row-content35 {
  position: absolute;
  top: 56px;
  left: 0px;
  background-color: var(--on-primary);
  width: 1318px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.row-content36 {
  position: absolute;
  top: 112px;
  left: 0px;
  background-color: var(--on-primary);
  width: 1318px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.row-content37 {
  position: absolute;
  top: 168px;
  left: 0px;
  background-color: var(--on-primary);
  width: 1318px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell-text155 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--finastra-red-red-100);
}
.row-content38 {
  position: absolute;
  top: 224px;
  left: 0px;
  background-color: var(--on-primary);
  width: 1318px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.row-content39 {
  position: absolute;
  top: 280px;
  left: 0px;
  background-color: var(--on-primary);
  width: 1318px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon199 {
  position: relative;
  width: 18px;
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
}
.button-outlined40 {
  position: absolute;
  top: 68px;
  left: 1231px;
  border-radius: var(--br-lg);
  border: 1px solid var(--finastra-green-green-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-base);
}
.button-outlined42 {
  border-radius: var(--br-lg);
  border: 1px solid var(--finastra-red-red-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-base);
}
.button-outlined41 {
  position: absolute;
  top: 68px;
  left: 1111px;
  width: 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-outlined43 {
  position: absolute;
  top: 68px;
  left: 1173px;
  border-radius: var(--br-lg);
  border: 1px solid var(--primary);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-base);
}
.button-outlined44 {
  position: absolute;
  top: 122px;
  left: 1234px;
  border-radius: var(--br-lg);
  border: 1px solid var(--finastra-green-green-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-base);
}
.button-outlined45 {
  position: absolute;
  top: 122px;
  left: 1111px;
  width: 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-outlined47 {
  position: absolute;
  top: 122px;
  left: 1176px;
  border-radius: var(--br-lg);
  border: 1px solid var(--primary);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-base);
}
.button-outlined48 {
  position: absolute;
  top: 179px;
  left: 1233px;
  border-radius: var(--br-lg);
  border: 1px solid var(--finastra-green-green-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-base);
}
.button-outlined49 {
  position: absolute;
  top: 179px;
  left: 1113px;
  width: 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-outlined51 {
  position: absolute;
  top: 179px;
  left: 1175px;
  border-radius: var(--br-lg);
  border: 1px solid var(--primary);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-base);
}
.button-outlined52 {
  position: absolute;
  top: 233px;
  left: 1236px;
  border-radius: var(--br-lg);
  border: 1px solid var(--finastra-green-green-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-base);
}
.button-outlined53 {
  position: absolute;
  top: 233px;
  left: 1113px;
  width: 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-outlined55 {
  position: absolute;
  top: 233px;
  left: 1178px;
  border-radius: var(--br-lg);
  border: 1px solid var(--primary);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-base);
}
.button-outlined56 {
  position: absolute;
  top: 290px;
  left: 1236px;
  border-radius: var(--br-lg);
  border: 1px solid var(--finastra-green-green-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-base);
}
.button-outlined57 {
  position: absolute;
  top: 290px;
  left: 1113px;
  width: 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-outlined59 {
  position: absolute;
  top: 290px;
  left: 1178px;
  border-radius: var(--br-lg);
  border: 1px solid var(--primary);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-base);
}
.row-header-container {
  position: absolute;
  top: 186px;
  left: 98px;
  width: 1318px;
  height: 336px;
  color: var(--on-surface);
}
.user-profile2 {
  position: relative;
  width: 1440px;
  height: 900px;
  overflow: hidden;
  flex-shrink: 0;
}
.class1 {
  position: relative;
  background-color: var(--background);
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--body-1-size);
  color: var(--color-gray-400);
  font-family: var(--button-2);
}
